google-adk[database]
litellm
python-dotenv
google-cloud-storage
pydantic[email]
pydantic[standard]
sqlalchemy[asyncio]>=2.0
aiosqlite
aiohttp
haystack-ai
qdrant-client
qdrant-haystack
google-ai-haystack
markdown-it-py
mdit_plain
trafilatura
